#body{
  h3{
    color: black;
  }
}
.side-nav {
  border-radius: 4px;
  background-color: #333333;
  width: 170px;
  padding-left: 5px;
  a {
    &:hover {
      background-color: #d9272e;
    }
    color: white;
    /* Black text color */
    display: block;
    /* Make the links appear below each other */
    padding: 11px;
    /* Add some padding */
    text-decoration: none;
    /* Remove underline from links */
  }
}